@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000;
}
.dark {
  --background: black;
  --foreground: white;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Smooch Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  transition: all 0.6s;
}
